<div class='page-container news-detail-page'>
  {{#with newsDetail}}
    <h2 class='title'>
      {{title}}
    </h2>
    <span>Date: {{date}}</span>
    <span>Views: {{view}}</span>
    <article>
      {{#each section}}
        <h3>{{inc @key}}. {{subtitle}}</h3>
        <section>{{description-first}}</section>
        <img src='{{image}}' alt='{{subtitle}}, Đội taxi Long Khánh' />
        <section>{{description-second}}</section>
      {{/each}}
    </article>
  {{/with}}
</div>