<div class='page-container news-detail-page'>
  {{#with newsDetail}}
    <h2 class='title'>
      {{title}}
    </h2>
    <div class='sub-info'>
      <span>Date: {{date}}</span>
      <span>Views: {{view}}</span>
    </div>
    <article>
      {{#each section}}

        {{!-- Mục con --}}
        {{#if subtitle}}
          <h3>{{inc @key}}. {{subtitle}}</h3>
        {{/if}}
        {{#if sublist}}
          {{#each sublist}}
            <h4>{{inc @../key}}.{{inc @key}} {{title}}</h4>
            <section>{{description}}</section>
            <div class='news-detail-image'>
              <img src='{{image}}' alt='{{title}}, Đội taxi Long Khánh - Đồng Nai' />
              <figcaption>{{title}}</figcaption>
            </div>
          {{/each}}
        {{/if}}

        {{!-- Nội dung đầu --}}
        {{#if description-first}}
          <section>{{description-first}}</section>
        {{/if}}

        {{!-- Danh sách --}}
        {{#if list}}
          <ul>
            {{#each list}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        {{/if}}

        {{!-- Ảnh --}}
        {{#if image}}
          <div class='news-detail-image'>
            <img src='{{image}}' alt='{{title}}, Đội taxi Long Khánh - Đồng Nai' />
            <figcaption>{{subtitle}}</figcaption>
          </div>
        {{/if}}

        {{!-- Nội dung sau --}}
        {{#if description-second}}
          <section>{{description-second}}</section>
        {{/if}}
      {{/each}}
    </article>
  {{/with}}
</div>