<div class='page-container news-detail-page'>
  {{#with newsDetail}}
    <h2 class='title'>
      {{title}}
    </h2>
    <div class='sub-info'>
      <span>Date: {{date}}</span>
      <span>Views: {{view}}</span>
    </div>
    <article>
      {{#each section}}
        {{#if subtitle}}
          <h3>{{inc @key}}. {{subtitle}}</h3>
        {{/if}}
        <section>{{description-first}}</section>
        {{#if list}}
          <ul>
            {{#each list}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        {{/if}}
        <div class='news-detail-image'>
          <img src='{{image}}' alt='{{title}}, Đội taxi Long Khánh' />
          <figcaption>{{caption}}</figcaption>
        </div>
        <section>{{description-second}}</section>
      {{/each}}
    </article>
  {{/with}}
</div>